<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="foot_ft_sensors" params="ns:=anymal rate:=500">
    <xacro:property name="ft_plugin" value="libgazebo_ros_ft_sensor.so"/>

    <xacro:macro name="one_ft" params="link topic">
      <gazebo reference="${link}">
        <sensor name="${link}_ft" type="force_torque">
          <update_rate>${rate}</update_rate>
          <force_torque>
            <frame>child</frame>
            <measure_direction>child_to_parent</measure_direction>
          </force_torque>
          <plugin filename="${ft_plugin}" name="${link}_ft_plugin">
            <ros>
              <namespace>${ns}</namespace>
              <remapping>~/out:=${topic}</remapping>
            </ros>
          </plugin>
        </sensor>
      </gazebo>
    </xacro:macro>

    <xacro:one_ft link="LF_FOOT" topic="lf_foot/ft"/>
    <xacro:one_ft link="RF_FOOT" topic="rf_foot/ft"/>
    <xacro:one_ft link="LH_FOOT" topic="lh_foot/ft"/>
    <xacro:one_ft link="RH_FOOT" topic="rh_foot/ft"/>

    
  </xacro:macro>
</robot>