[submodule "qpoases_colcon"]
    path = src/qpoases_colcon
    url = https://github.com/coin-or/qpOASES
[submodule "Ros2Go2Estimator"]
    path = src/Ros2Go2Estimator
    url = https://github.com/ShineMinxing/Ros2Go2Estimator
[submodule "ocs2_ros2"]
    path = src/ocs2_ros2
    url = https://github.com/legubiao/ocs2_ros2